.loginModal {
    color: #333333;
    button.modalClose {
        top: 5px;
        right: 5px;
    }
    .MuiPaper-root {
        max-width: 424px;
        width: 100%;
        box-sizing: border-box;
    }
    .loginModal__content {
        padding: 22px 40px 30px;
    }
    .castleIcon {
        text-align: center;
        margin: auto;
        margin-bottom: 18px;
    }
    .modalButtonGroup {
        margin-top: 20px;
        .MuiButton-contained {
            padding-left: 26px;
            padding-right: 26px;
            &.Mui-disabled {
                color: #333;
            }
        }
    }
    .title {
        margin-bottom: 29px;
    }
    .passwordRow {
        display: flex;
        justify-content: center;
        .MuiFormControl-root {
            max-width: 112px;
        }
    }
    .MuiInputBase-input {
        text-align: center;
    }
}